@model ModelTimeTable
@{
    ViewBag.Title = "Generate TimeTable";
}

<div>
    <div class="row mb-3">
        <h2>Time Table Entry</h2>
    </div>
    <div class="row">
        @using (Html.BeginForm("SubjectHoursEntry", "TimeTable", FormMethod.Post))
        {
            <label>No. of Working Days:</label>
            @Html.TextBoxFor(m => m.WorkingDays, new { @class = "form-control", type = "number", min = "1", max = "7", required = "required" })
            <br />

            <label>No. of Subjects per Day:</label>
            @Html.TextBoxFor(m => m.SubjectsPerDay, new { @class = "form-control", type = "number", min = "1", max = "8", required = "required" })
            <br />

            <label>Total Subjects:</label>
            @Html.TextBoxFor(m => m.TotalSubjects, new { @class = "form-control", type = "number", min = "1", required = "required" })
            <br />

            <label>Total Weekly Hours:</label>
            <input type="text" id="totalHours" class="form-control" readonly />
            <br />

            <button type="submit" id="btnSaveTimeTableDetails" class="btn btn-primary" disabled>Submit</button>
            <button type="button" id="resetButton" class="btn btn-secondary">Reset</button>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/TimeTableEntry.js"></script>
